[Unit]
Requires=network-online.target
StartLimitIntervalSec=200
StartLimitBurst=10

[Service]
Type=simple
User=$USER
ExecStart=/usr/bin/python3.9 $FSEVENTSDIR/fsevents-sync-client.py
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=fsevents-sync-client

[Install]
WantedBy=multi-user.target
